<%= form_tag '/login', class: 'form-signin' do %>
  <h2 class="form-signin-heading"><%= t('site.please_sign_in') %></h2>
  <label for="inputLogin" class=""><%= t('site.select_a_user') %></label>
  <%= select_tag 'login', options_for_select(User.for_signin), class: 'form-control' %>
  <button class="btn btn-lg btn-primary btn-block" type="submit"><%= t('site.sign_in') %></button>
<% end %>