<!DOCTYPE html>
<html>
<head>
  <title>FoodListDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <div class='container'>
    <% if flash[:notice] %>
      <div class='alert alert-info fade in'>
	<%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>

<script>
  $(document).ready(function(){
     DailyMealSite.initSelectLanguage();
     DailyMealSite.initTransQtip();
  })
</script>
